/*CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

h1 {
    background-color : blanchedalmond;
    color: black;
    text-align: center;
    height: 100px;
    padding: 50px;
    border: 2px solid white;
    margin: 8px;
    
    
}